@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --theme-color-bg-white: #F7F9FA;
  --theme-color-bg-blue: #1890FF;
  --theme-color-bg-card-one: #E6F7FF;
  --theme-color-bg-card-two: #F5F5F5;

  --theme-color-font-black: #262626;
  --theme-color-font-gray-one: #BFBFBF;
  --theme-color-font-gray-two: #7E7E7E;
  --theme-color-font-gray-three: #737373;
  --theme-color-font-placeholder: #5C5858;
  --theme-color-font-white: #FFFFFF;
  --theme-color-font-blue: #1890FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
}

html,
body {
  background-color: var(--theme-color-bg-one);
}

main {
  padding: 0 20px;
}

@media (min-width: 1400px) {
  main {
    padding: 40px;
  }
}